<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Can contain one or more JPG, PNG or BMP files -->
    <add key="WallPaperDirectory" value="C:\Users\suniltg\Pictures\Wallpapers"/>
    
    <!-- Cycle time is in seconds, the program will change the wallpaper to the next image in the specified folder. -->
    <!--If there's only one file, this setting don't have any effect -->
    <add key="CycleTime" value="300"/>
  </appSettings>
</configuration>